body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Heragino Kaku Gothic Pro", sans-serif;
    background-color: #eee;
    font-size: 1px;
    margin: 0;
    padding: 0;
    background-position: left 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
}

#logo img {
    max-width: 150px;
    border: 5px solid #fff;
    border-radius:10%;
    margin: 0 10px;
}

#logo p {
    margin: 0;
    font-size:28px;
    font-weight: bold;
}

nav {
    margin: 0 0 30px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
}

nav ul {
    margin: 0 10px;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
    display: inline-block;
}

nav ul li a {
    padding: 15px 10px;
    text-decoration: none;
    color: #999;
    font-weight: bold;
}

nav ul li a.selected {
    color: #000;
}

navbar {
    border-radius: 0;
}

.container {
    width: auto ;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    text-align: center;
}

.copyright {
    padding: 20px 0;
    font-size: 12px;
    color: #666;
}