body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Heragino Kaku Gothic Pro", sans-serif;
    background-color: #eee;
    font-size: 1px;
    margin: 0;
    padding: 0;
    background-position: left 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
}

#logo img {
    max-width: 150px;
    border: 5px solid #fff;
    border-radius:10%;
    margin: 0 10px;
}

#logo p {
    margin: 0;
    font-size:28px;
    font-weight: bold;
}

.navbar .navbar-inner {
padding: 0;
}
 
.navbar .nav {
margin: 0;
display: table;
width: 100%;
}
 
.navbar .nav li {
display: table-cell;
float: none;
}
 
.navbar .nav li a {
font-weight: bold;
text-align: center;
border-left: 1px solid rgba(255, 255, 255, .75);
border-right: 1px solid rgba(0, 0, 0, .1);
}
 
.navbar .nav li:last-child a {
border-right: 0;
border-radius: 0 3px 3px 0;
}

.container {
    width: auto ;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    text-align: center;
}

.copyright {
    padding: 20px 0;
    font-size: 12px;
    color: #666;
}
