head {
    color: #fff;
    background-color: #fff;
}

body {
    font-family: YuGothic,ヒラギノ角ゴ Pro W3",メイリオ,Osaka,Arial,Verdana,"MＳＰゴシック",sans-serif;
    background-color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-position: left 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
}


nav ul li {
    margin: 0 10px;
    display: inline-block;
}

nav ul li a {
    padding: 15px 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

navbar {
    margin: 20px 0;
    padding: 20px 0;
    color: #fff;
    border-radius: 0;
    background-color: #fff;
}

navbar navbar-default　{
    margin: 0;
    padding: 0;
    background-color: #9b59b6;
　　border-color: white;
}

.navbar navbar-header {
    background-color: white;
}


.navbar-brand {
    color: white;
    background: url("lv_logo2.JPG") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 250px;
}

.navbar-header {
    color: #fff;
}

.face {
    text-align: center;
}

.border-panel {
    border: 2px ridge #000;
    text-align: left;
    margin: 20px;
    padding: 10px;
}

.logo1 {
    margin: 0;
    padding: 0;
}

.logo2 {
    padding: 0 20px;
    text-align: left;
}

.entry-content {
    padding: 0 20px;
}

.container {
    padding: 0 20px;
}

td, th {
    font-family: cursive;
    padding-left: 20px;
    padding-right: 20px
}

footer {
    border: 1px 0.5px solid #000;
    background-color: #000;
    padding: 0 10px;
    clear: both;
}

.copyright {
    padding: 0 20px;
    font-size: 20px;
    color: #fff;
    text-align: right;
}
